<div class="w3_content_agilleinfo_inner">
  <div class="agile_featured_movies">
   <div class="latest-news-agile-info" style="padding-top:1em">
     <div class="col-md-9 latest-news-agile-left-content">
        <div class="single video_agile_player">
          <div class="video-grid-single-page-agileits">
            <%= image_tag "3.jpg" ,alt: "", class: "img-responsive" %>
          </div>
             <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit,nibh dui pellentesque elit.</h4>
            <div class="agile-post">
                by <a href="#" title="w3ls" rel="author">Admin</a> on Oct 30, 2016 with <a href="#">2 comments</a>
            </div>
             <p>Donec semper, nibh et lacinia sollicitudin, nibh dui pellentesque elit, eu placerat leo felis nec nunc. Sed bibendum pretium metus eget euismod. Mauris id lacus lacus. Praesent faucibus nunc eget turpis tristique molestie. Duis dui diam, tristique eu gravida ut, congue eget felis. Proin sapien ligula, volutpat ut ultrices sit amet, dignissim quis urna.
Cras fermentum eu dolor in porttitor. Praesent sagittis sollicitudin scelerisque. Vivamus ac erat in ex consectetur imperdiet vel eget sapien. Duis viverra nisi id leo varius, vitae eleifend turpis vulputate. Mauris eget sagittis augue, ut efficitur mauris. Aenean risus nisi, faucibus eget condimentum at, porttitor vel felis. Aliquam eu augue ut tortor gravida iaculis in in orci. Quisque vehicula consectetur sagittis.</p>
          </div>
          <div class="single-agile-shar-buttons">
            <h5 >Share This :</h5>
          <ul>
            <li>
              <div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
            </li>
            <li>
              <div class="fb-share-button" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a></div>
            </li>
            <li class="news-twitter">
              <a href="https://twitter.com/w3layouts" class="twitter-follow-button" data-show-count="false">Follow @w3layouts</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li>
              <a href="https://twitter.com/intent/tweet?screen_name=w3layouts" class="twitter-mention-button" data-show-count="false">Tweet to @w3layouts</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li>
                <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium"></div>
                <!-- Place this tag after the last +1 button tag. -->
            </li>
          </ul>
        </div>
        <div class="admin-text">
          <h5>WRITTEN BY ADMIN</h5>
          <div class="admin-text-left">
            <a href="#"><%= image_tag "admin.jpg", alt: "" %></a>
          </div>
          <div class="admin-text-right">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <span>View all posts by :<a href="#"> Admin </a></span>
        </div>
        <div class="clearfix"> </div>
        </div>
        <div class="response">
<!-- agile-comments -->
          <div class="agile-news-comments">
            <div class="agile-news-comments-info">
              <h4>Comments</h4>
              <div class="fb-comments" data-href="https://w3layouts.com/"
                data-width="100%" data-numposts="5">
              </div>
            </div>
          </div>
<!-- //agile-comments -->
        </div>
      </div>
      <div class="col-md-3 latest-news-agile-right-content">
        <h5 class="side-t-w3l-agile">Danh sách tập</h5>
        <%= render "movies/list-movies" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
