.scrollbar
{
  float: left;
  height: 450px;
  background: #fbfbfb;
  overflow-y: scroll;
  margin-bottom: 25px;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}




.scrollbar-movie{
  max-width: 996px;
  margin: 0 auto;
  background: #ffffff;

}
.book-info {

  .book-title {
    margin-top: 0;
    font-size: 2em;
  }

  .avg-rating {
    font-size: 1.5em;
    margin-top: 15px 0 5px;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  .book-author {
    font-size: 1.5em;
    margin-top: 10px 0 10px;

    span {
      font-size: 0.80em;
    }
  }

  .book-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-top: 15px 0 15px;
  }

}
.multi-column-dropdown li {
  float: left;
  width: 33%;
  margin: 0 auto;
}

.wthree_agile-requested-movies{
  margin-left: 10px;
}
