<% if review.blank? %>
  <h3>No reviews just yet, would you like to add the first!</h3>
<% else %>
  <div class="edit_review" >
    <div class="review-rating" data-score="<%= review.star %>"></div>
    <p class="review"><span> <%= review.content %></span></p>
    <% if user_signed_in? %>
      <% if review.user_id == current_user.id %>
      <div class="links btn-group">
        <%= link_to "Sửa",
          edit_film_video_review_path(review.video.film_id, review.video, review),
            class: "btn btn-custom" %>
        <%= link_to "Xóa", film_video_review_path(review.video.film_id, review.video, review),
          method: :delete, remote: true, data: { confirm: "Bạn muốn xóa" },
            class: "btn btn-custom destroy-product" %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
